* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #eeedf2;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100vh;
}

nav a {
  text-decoration: none;
}

nav a.active {
  border-bottom: 2px solid #7367f8;
}
