* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #eeedf2;
}

nav a {
  text-decoration: none;
}

nav a.active {
  border-bottom: 2px solid #7367f8;
}
